body{
	background-color: #000;
	font :15px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* HEADER */

.container{
	width: 75%;
	margin: auto;
	overflow: hidden;
}

ul{
    margin: 0;
  	padding:0;
}

header{
    background-color: #000;
    color: #fff;
    padding-top: 10px;
    min-height: 50px;
    border-bottom: #00FFFF 3px solid;
}

header a{
	color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  
}

header li{
    float: left;
    display: block;
    padding: 10px 25px 25px 15px;
}

header #logo{
    float: left;
}

header #logo h1{
    margin-top: 10px;
    padding-top: 0px;
}

header nav{
    float: right;
    margin-top: 10px;
}


li a:hover, .dropdown:hover .dropbtn {
  border-bottom: #00FFFF 1px solid; 
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.active {
  color: #00FFFF;
}

.box {
  width: 220px;
  height: 11px;
  padding-top: 12px;
  margin-left: 40px;
  

}

header .tombol {
  height: 26px;
  margin-top: 10px;
margin-left: 10px;
}


	/* Jumbotron*/

#jumbotron{
    height: 600px;
    background: url(./img/model2.jpg) no-repeat;
    background-size: cover;
}

#jumbotron h1{
    letter-spacing: 5px;
    margin-top: 280px;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 3px 2px black;
	line-height: 0.5;
}

#jumbotron p{
    text-align: center;
    margin-bottom: 80px;
    color: #fff;
	line-height: 0.5;
    letter-spacing: 1px;
}


button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px white solid;
  border-radius: 6px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn {
    text-align: center;
}

button:hover{
    background-color: #00FFFF;
    opacity: 1;
    border: none;
    color: #000;
}


